# Latex
**/build/
*.aux
*.fls
*.log
*.xdv
*.fdb_latexmk
*.synctex.gz
*.gz
*.out

# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
.eggs/
.env
.venv
env/
venv/
*.ipynb_checkpoints/
.ipynb_checkpoints/

# Zips
*.zip
*.rar
*.tar
*.tar.gz
*.tar.bz2
*.7z
*.gz

# Data
/data/*
!/data/leer.txt

# Claude Code
.claude/
CLAUDE.md

/bibliografía/
output.png

/data_extraction/epoch_features.csv

/data_extraction/processed_data